<div class="row mb-4">
  <form class="columns medium-centered medium-7 large-6" 
    name="contact" method="POST" action="/thank-you" netlify
    data-netlify-recaptcha="true"
    netlify-honeypot="bot-field">
    <label>Name:
      <input type="text" name="name" placeholder="Jane Smith" autocomplete="name" required minlength="2">
    </label>
    <label>Email:
      <input type="email" name="email" placeholder="jane@societyofwork.com" autocomplete="name" required>
    </label>
    <label>Message:
      <textarea name="message" style="height: 118px;" placeholder="I'm ready to be a member forever. How do I do it?" minlength="5" maxlength="900"
        required></textarea>
    </label>
    <div class="g-recaptcha" data-sitekey="6Ld1_FcrAAAAAEEVci5Mi89o9Z7RoFjZGtYLPCU2"></div>
    <label style="display: none;">
        Don’t fill this out if you’re human: <input name="bot-field" />
    </label>
    <div class="text-center">
      <button class="button float-right" type=”submit”>Send</button>
    </div>
  </form>
</div>
