@include breakpoint(800px) {
  
  .entries { @include grid-col(14); }
}

.large-up-2 {
  .entry {
    padding: 24px 0;
    margin-top: 2.5%;
    margin-bottom: 30px;
  }
}

@include breakpoint(large) {
  
  .large-up-2 {
    .entry {
      margin-left: 2.5%;
      margin-right: 2.5%;
      padding-right: 24px !important;
      padding-left: 24px !important;
      width: 45%;
    }
  }
}

.entry {
  background-color: $white;
  list-style: none;
  margin-bottom: 1rem;
  position: relative;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  
  &:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.28); }
  &__img { margin-bottom: 11px; }
  
  @include breakpoint(medium) { padding: 33px; }
  @include breakpoint(large) { @include grid-col(6); }
  
  a { background-color: $white; }
}

