.guide {
  .overlap-header-img {
    
    @include grid-col(14);
    @include grid-col-pos(center);
  }
  
  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
  }
  
  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; 
    top: 2px;
    width: 1.5em; 
    height: 1.5em;
    border: 1px solid $dark-gray;
    background: $white;
    border-radius: 40px;
  }
  
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:before {
    border: 0px;
    content: ' ';
    position: absolute;
    background: $yellow;
    transition: all .2s;
  }
  
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  
  /* accessibility */
  [type="checkbox"]:checked:focus + label:before,
  [type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted $red;
  }
  
  /* hover style just for information */
  label:hover:before {
    border: 2px solid $dark-gray !important;
  }
  
}

.filters {
  @include grid-col-row;
  
  .filter {
    list-style: none;
    margin-left: 0;
    margin-bottom: 2rem;
    text-align: center;
    
    &--category {
      background-color: $white;
      padding: 5px;
      
      label {
        margin-right: 8px;
      }
      
      span {
        color: $dark-gray;
        
        &:last-child {
          display: none;
        }
      }
    }
    
  }
}

