
<div class="featured-posts">
  
  {% assign featured_posts = (site.posts | where: "is_featured_on_homepage", "true") %}
  {% for post in featured_posts limit: 3 %}
  
    <div class="featured-post__content">
      <h5 class="featured-post__title">
        {{ post.title }}
      </h5>
      <p class="featured-post__body">
        {{ post.content | truncatewords: 26 }}
      </p>
      <a href="{{ post.url }}" class="featured-post__link">Read More</a>
    </div>
    
    <img src="{{ post.featured_image }}" alt="{{ post.image_description_for_the_visually_impaired }}" class="featured-post__img">
    
  {% endfor %}

</div>