<footer>
  <div class="row">

    <div class="large-5 columns">
      <p class="pts-b tt-u fs-18 mb-0 ls-05"><span class="pr-1">{{ site.title }}</span><span class="pts-r">{{ site.tagline }}</span></p>
      <address class="pts-r">
        {{site.address}}
      </address>
      <a href="tel:{{site.phone_number}}" class="pts-r">{{site.phone_number}}</a>
      <br>

      <span class="pts-r">Find @societyofwork on </span>
      <a class="social-icon" href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a class="social-icon" href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a class="social-icon" href="{{ site.instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>

    </div>

    <div class="large-5 columns large-offset-2">
      <p class="br-b fs-15 tt-u mb-0">Subscribe to Mailing List</p>
      <p>Get latest events and SOW news in your inbox.</p>

      <div id="mc_embed_signup">
        <form action="//societyofwork.us4.list-manage.com/subscribe/post?u=ba550a1568b9b02bd4e685f9b&amp;id=75c4d8c830" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" _lpchecked="1">
          <div class="input-group" id="mc_embed_signup_scroll">
            <input class="email input-group-field" type="email" name="EMAIL" id="mce-EMAIL" placeholder="Your Email Address" required="">
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_ba550a1568b9b02bd4e685f9b_75c4d8c830" tabindex="-1">
            </div>
            <div class="clear input-group-button">
              <input class="button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</footer>
