<div
  {% if include.header_img %}
    style="background-image: url('/assets/img/header-backgrounds/{{ include.header_img }}')"
  {% endif %}
  class="header__background">

  <header class="header extra-padding-small">

      {% if page.url == "/" %} 
        <div class="header__logo">
          <img src="/assets/img/logo/full-logo.svg"
            class="header__logo-full"
            alt="The full Enterprise Center logo with mark and words.">
        </div>
      {% endif %}

      <div class="header__blurb {% if page.url != "/" %} push-5-cols {% endif %}">
      <h1 class="header__blurb_blurb">{{page.header.blurb}}</h1>

      {% if page.header.button_txt %}
        <a href="{{page.header.button_link}}" class="button button--header">{{page.header.button_txt}}</a>
      {% endif %}

    </div>

  </header>
</div>
