.button {
  font-size: 14px;
  text-transform: uppercase;
  
  &--header {
    background-color: $trans-black;
    border: solid $dark-yellow 1px;
    color: $dark-yellow;
    
    @include breakpoint(medium) {
      margin-bottom: 75px; 
    }
    
    &:hover {
      background-color: lighten($dark-yellow, 10%);
      color: $dark-yellow;
    }
  }
  
  &--for-nav {
    background-color: $white;
    border-radius: 0px;
    color: $dark-yellow !important;
    font-size: 16px;
    padding: 20px 22px;
    
    &:hover {
      background-color: darken($trans-black, 20%);
    }
  }
}

