// Common classes
.minh-452 { min-height: 452px; }
.mh250 { max-height: 250px; }

.ta-c { text-align: center; }

.fully-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// display
.d-ib { display: inline-block; }
.d-b { display: block; }

.hide-on-mobile {
  @include breakpoint($desktop-breakpoint - 1 down) {
    display: none;
  }
}

// color
.c-white { color: $white; }
.c-gray2 { color: $gray2; }
.c-blk { color: $black; }

.bgc-turquoise { background-color: $turquoise; }
.bgc-red { background-color: $red; }
.bgc-blk { background-color: $black; }

// margin
.mt- {
  &1 { margin-top: 1rem;}
  &2 { margin-top: 2rem;}
  &4 { margin-top: 4rem;}
}

.small-mb-1 {
  @include breakpoint(small) {
    margin-bottom: 1rem;
  }
}

.mb- {
  &0 { margin-bottom: 0; }
  &1 { margin-bottom: 1rem; }
  &2 { margin-bottom: 2rem; }
  &4 { margin-bottom: 4rem; }
  
  &60 { margin-bottom: 60px; }
  &75 { margin-bottom: 75px; }
  &80 { margin-bottom: 80px; }
  &200 { margin-bottom: 200px; }
  
  &-6 {
    margin-bottom: -6px;
  }
}

@include breakpoint(small) {
  .mb2-for-small { margin-bottom: 2rem; }
}

// padding
.pa-2 { padding: 2rem 0; }

.pr-1 { padding-right: 1rem; }
.pl-10 { padding-left: 10px; }
.pl-28 { padding-left: 28px; }

.pb- {
  
  &05  { padding-bottom: 0.5rem}
  &1   { padding-bottom: 1rem; }
  &5   { padding-bottom: 5rem; }
  
  &4px { padding-bottom: 4px; }
}

// font size
.fs- {
  &13 { font-size: 13px; }
  &14 { font-size: 14px; }
  &15 { font-size: 15px; }
  &16 { font-size: 16px; }
  &18 { font-size: 18px; }
  &23 { font-size: 23px; }
  &25 { font-size: 25px; }
  &26 { font-size: 26px; }
}

// font transforms & misc
.tt-c { text-transform: capitalize;; }
.tt-u { text-transform: uppercase; }

.ls-036 { letter-spacing: 0.36px; }
.ls-05 { letter-spacing: 0.5px; }
.ls-1 { letter-spacing: 1px; }
.ls-2 { letter-spacing: 2px; }
.ls-4 { letter-spacing: 4px; }
.ls-8 { letter-spacing: 8px; }

.lh-14 { line-height: 14px; }

.red-bg {
  background: $red;
  z-index: 1;
  
  .row {
    visibility: hidden;
  }
}

.pos-ab {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.w- {
  &100 {
    width: 100%;
  }
}

table {
  border-collapse: collapse;
  
  tr {
    border-bottom: 1px solid #D9D9D9;
  }
}
// you are here trying to figure out the best way to get these two elements to overlap.
.black-bg {
  background: $black;
}

.up-angle-bg {
  @include angle(both);
}

.down-angle-bg {
  @include angle(both, true);
}
