.header {
  
  &__background {
    background-size: cover;
  }
  
  @include breakpoint(large) {
    
    &__logo {
      
      @include grid-col(5);
      
      position: relative;
      right: 80px;
      
      &-mark {
        margin-right: 21px;
        width: 61px;
      }
      
      &-words {
        width: 212px;
      }
    }
    
    &__blurb {
      @include grid-col(7);
      margin: 134px 0;
    }
    
  }
  
}

