.push-below-menu-bar {

  @include breakpoint($desktop-breakpoint) {
    margin-top: 86px;
  }
}


.hero {
  @include turquoise-bottom-border;
  color: $white;
  padding-top: 80px;
  padding-bottom: 80px;

  @include breakpoint(medium) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  margin-top: 0;

  p {
    color: $white;
  }

  // TODO: probably remove this. removed from hero
  &__right-padding {
    padding-left: 29px;

    @include breakpoint(medium) {
      padding-left: 43px;
    }
  }

  &__header {
    font-size: 56px;
    line-height: 50px;
    padding-top: 78px;
    letter-spacing: 12px;

    @include breakpoint(large) {
      font-size: 76px;
      line-height: 68px;
      padding-top: 98px;
    }
  }

  &__header-blurb {
    color: $white;
  }

  &__button {
    @include breakpoint(small only) {
      width: 100%;
    }
  }
}

.home-page {
  .hero {
    padding-top: 0px;
    padding-bottom: 140px;
  }
}

.text-box {
  padding: 0 24px;
}

.banner {
  @include font-stack($brandon-stack, 700);
  text-transform: uppercase;
  position: relative;
  top: -16px;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  display: inline-block;
  height: 35px;
  width: 250px;

  span {
    position: relative;
    top: 5px;
  }
}

.logo-words {
  position: relative;
  top: 9px;
}

.red-rectangle {
  background: $red;
  border-radius: 2px;
  display: inline-block;
  position: relative;

  right: 111px;
  bottom: 15px;

  height: 9px;
  width: 94px;

  @include breakpoint(large) {
    height: 13px;
    width: 119px;
    right: 138px;
    bottom: 20px;
  }
}

.map {
  padding-top: 65px;
  padding-bottom: 78px;
}

.smaller-photos-large {
  @include breakpoint(large) {
    img {
      width: 80%;
      height: auto;
    }
  }
}

.bottom- {

  &left-img {
    max-width: 51%;
  }

  &right-img {
    max-width: 20%;
  }
}

.pricing {

  margin-top: 9rem;

  @include breakpoint(small) {
    height: 960px;
  }

  @include breakpoint(medium) {
    height: 82rem;
  }

  @include breakpoint(large) {
    height: 54rem;
  }

  &__pic {
    @include breakpoint(small only) {
      width: 130px;
    }

    width: 305px;
    max-width: 305px;

    @include breakpoint(large) {
      width: 100%;
    }
  }
}

.button.secondary {
  border: 1px solid #DCDCDC;
}

.social-icon {
  padding: 9px;
}

.stars {
  padding-bottom: 4px;
}

footer {
  border-top: 3px solid #D7D7D7;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.extra-mobile-padding {
  .column,
  .columns {
    @include breakpoint(small only) {
      padding-left: 29px;
      padding-right: 29px;
    }
  }
}

.z1 { z-index: 1; }
.z2 { z-index: 2; }

.mb--400 { margin-bottom: -400px; }

.top-top-img {
  max-width: 60%;
}

.top-bottom-left-img {
  max-width: 31.4%;
}

.top-bottom-right-img {
  max-width: 55%;
}

.thank-you {
  margin: 3rem 0 5rem;

  @include breakpoint(large) {
    margin: 8rem 0 12rem;
  }
}
