.header {

  &__background {
    background-size: cover;
  }

  &__logo-words {
    display: none;

    @include breakpoint(1287px) {
      display: inline-block;
    }
  }

}

.button.secondary {
  border: 1px solid #DCDCDC;
}

.social-icon {
  padding: 9px;
}

.stars {
  padding-bottom: 4px;
}

footer {
  border-top: 3px solid #D7D7D7;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
