header,
main,
footer {
  
  @include grid-row;
  
  @include breakpoint(large) {
    padding-right: 65px;
    padding-left: 65px;
  }
}

nav,
main {
  @include grid-column(12);
}

nav {
  
  margin-bottom: 1.5rem;
  
  ul {
    
    float: right;
    @include menu-base;
    
    li {
      
      a {
        
        @include breakpoint(medium) {
          padding-right: 21px;
          padding-left: 21px;
        }
      }
    }
  }
}

.footer {
  
  @include breakpoint(large) {
    
    &__logo {
      @include grid-column(3)
    }
    
    &__contact {
      @include grid-column(4);
    }
    
    &__social {
      @include grid-column(2);
    }
    
    &__blurb {
      @include grid-column(3);
    }
    
  }
}