@mixin font-stack($family, $weight) {
  font: {
    family: $family;
    style: normal;
    weight: $weight;
  }
}

@mixin italic-font-stack($family, $weight) {
  font: {
    family: $family;
    style: italic;
    weight: $weight;
  }
}


