// -----------------------------------------------
// Font Stacks // located in _variables.scss
// -----------------------------------------------
// $brandon-stack: 'Brandon', sans-serif;
// $pt-stack: 'PT Sans Baskerville', serif;

// -----------------------------------------------
// Font Families
// -----------------------------------------------

// Brandon
//
// Regular
.br-r
{ @include font-stack($brandon-stack, 400); }
// Italic
.br-i
{ @include italic-font-stack($brandon-stack, 400); }
// Medium
.br-m
{ @include font-stack($brandon-stack, 500); }
// Bold
.br-b
, h2
, .button, button
, .overlay a
{ @include font-stack($brandon-stack, 700); }
// Bold Italic
.br-b-i
{ @include italic-font-stack($brandon-stack, 700); }
// Black
.br-bl
{ @include font-stack($brandon-stack, 900); }

//
// PT Sans
//
// Regular
.pts-r,
p,
td
{ @include font-stack($pt-stack, 400); }
// Italic
.pts-i
{ @include italic-font-stack($pt-stack, 400i); }
// Bold
.pts-b
{ @include font-stack($pt-stack, 700); }

address {
  font-style: normal;
}

// -----------------------------------------------
// Font Colors
// -----------------------------------------------

// White

.overlay a:hover
, .overlay .active
{
  @include breakpoint($desktop-breakpoint - 1 down) {
    color: $white;
  }
  color: $black;
}


p { color: $dark-gray; }

// -----------------------------------------------
// Uppercase Fonts
// -----------------------------------------------
h1, h2, h3, h4, h5, h6,
{
  text-transform: uppercase;
}

header h1    { text-transform: unset; }
.post__title,
.entry__title { text-transform: none; }

// -----------------------------------------------
// Font Sizes
// -----------------------------------------------
button, .button { font-size: 12px; }
p, tr { font-size: 15px; }

// -----------------------------------------------
// Letter Spacing
// -----------------------------------------------

// 1px
button
, .button
{
  letter-spacing: 1px;
}

// -----------------------------------------------
// Line Heights
// -----------------------------------------------

@include breakpoint(medium) {
  h1, h2 {
    line-height: 57px;
  }

  h3 {
    line-height: 42px;
  }

  h4 {
    line-height: 26px;
  }

  h5, h6 {
    line-height: 24px;
  }
}
