// -----------------------------------------------
// Font Stacks // located in _variables.scss
// -----------------------------------------------
// $prompt-stack: 'Prompt', sans-serif;
// $libre-stack: 'Libre Baskerville', serif;

// -----------------------------------------------
// Font Families
// -----------------------------------------------
// Regular Libre
p, .subsection__content_body {
  @include font-stack($libre-stack, 400);
}

// Italic Libre
.pull-quote
, .pull-box__title {
  @include font-stack($libre-stack, 400i);
} 
// Prompt Regular
.subsection__content_title
, h3 {
  @include font-stack($prompt-stack, 400);
}

// Prompt Bold
.footer__header {
  @include font-stack($prompt-stack, 700);
}

// -----------------------------------------------
// Font Colors
// -----------------------------------------------
// Light Blue
#homepage > .header__blurb_blurb
, .footer__about-us-blurb {
  color: $light-blue;
}

// White
.footer__header
, nav .active
, nav a:hover
, .header__blurb_blurb {
  color: $white;
}

// Dark Gray
.subsection__content_title
, h3
, .post__author-name
, .date
, .share {
  color: $dark-gray;
}

// Light Gray
nav a
, .footer__contact > a[href^=tel]
, .copyright__holder
, footer p {
  color: $light-gray;
}

// Body Gray
p
, .subsection__content_body {
  color: $body-gray;
}

// Uppercase Fonts
.footer__header,
.copyright__holder,
.post__author-name {
  text-transform: uppercase;
}

// -----------------------------------------------
// Letter Spacing
// -----------------------------------------------
// 1px
p {
  letter-spacing: 1px;
}

// 2px
// { letter-spacing: 2px; }

// 3px
nav a
, h3
, button
, .button
, .subsection__blurb_title {
  letter-spacing: 3px;
}

.copyright__holder,
.copyright__info {
  font-size: 12px;
}

// -----------------------------------------------
// Header Line Heights
// -----------------------------------------------
@include breakpoint(medium) {
  h1, h2 {
    line-height: 52px;
  }

  h3 {
    line-height: 36px;
  }

  h4 {
    line-height: 32px;
  }

  h5, h6 {
    line-height: 34px;
  }
}
