// -----------------------------------------------
// Font Stacks // located in _variables.scss
// -----------------------------------------------
// $prompt-stack: 'Prompt', sans-serif;
// $libre-stack: 'Libre Baskerville', serif;

// -----------------------------------------------
// Font Families
// -----------------------------------------------

// Regular Libre

p
, .post__title
, .header__blurb_blurb
, .header__title
, .subsection__content_body {
  @include font-stack($libre-stack, 400);
}

// Italic Libre

.pull-quote
, .pull-box__title {
  @include font-stack($libre-stack, 400i);
}

// Prompt Regular

.subsection__content_title
, .post__content p
, .post__content ul 
, .post__author-name
, .breadcrumbs
, .footer__about-us-blurb
, .copyright__info
, .sidebar a
, h3 {
  @include font-stack($prompt-stack, 400);
}

// Prompt Bold

.footer__header
, .breadcrumbs .active
, .copyright__holder
, .button, button
, .sidebar .active > a
, .overlay a {
  @include font-stack($prompt-stack, 600);
}

address {
  font-style: normal;
}

// -----------------------------------------------
// Font Colors
// -----------------------------------------------
// Light Blue

#homepage .header__blurb_blurb
, .footer__email {
  color: $light-blue;
}

// White

.footer__header
, .header__title
// , .overlay .active
, .overlay a:hover
, .header__blurb_blurb {
  color: $white;
}

// Dark Gray

.subsection__content_title
, .entry__title
, p strong
, .sidebar a
, .post__content p
, h3
, .post__author-name
, .date
, .share {
  color: $dark-gray;
}

// Light Gray

.overlay a
, .sidebar .nested a
, .footer__contact > a[href^=tel]
, .copyright__holder
, .footer__about-us-blurb
, footer address
, footer p {
  color: $light-gray;
}

// Body Gray

.sidebar-layout-main p
, .sidebar-layout-main li
, .subsection__content_body {
  color: $body-gray;
}

// Yellow

.copyright__holder {
  color: $dark-yellow;
}

.breadcrumbs {
  color: #9B9B9B;

  .active {
    color: #4A4A4A;
  }
}

// -----------------------------------------------
// Uppercase Fonts
// -----------------------------------------------
h1, h2, h3, h4, h5, h6,
.footer__header,
.copyright__holder,
.post__author-name,
.subsection__content_title,
.sidebar,
.overlay a {
  text-transform: uppercase;
}

header h1    { text-transform: unset; }
.post__title, 
.entry__title { text-transform: none; }

// -----------------------------------------------
// Font Sizes
// -----------------------------------------------
p {
  font-size: 16px;
}

.footer__about-us-blurb {
  font-size: 12px;
}

.header__blurb_blurb {
  font-size: 20px;

  @include breakpoint(medium) {
    font-size: 30px;
  }
}

// -----------------------------------------------
// Letter Spacing
// -----------------------------------------------
// 1px
p, ul {
  letter-spacing: 1px;
  line-height: 28px;
}

// 2px
.post__author-name { 
  font-size: 11px;
  letter-spacing: 2px; 
}

// 3px
.overlay a
, h3
, button
, .button
, .subsection__blurb_title {
  letter-spacing: 3px;
}

.copyright__holder,
.copyright__info {
  font-size: 12px;
}

// -----------------------------------------------
// Line Heights
// -----------------------------------------------

.footer__about-us-blurb { line-height: 19px; }

@include breakpoint(medium) {
  h1, h2 {
    line-height: 52px;
  }

  h3 {
    line-height: 42px;
  }

  h4 {
    line-height: 26px;
  }

  h5, h6 {
    line-height: 24px;
  }
}
