// -----------------------------------------------
// // // Variables
// -----------------------------------------------

// -----------------------------------------------
// Font Stacks
// -----------------------------------------------
$prompt-stack: 'Prompt', sans-serif;
$libre-stack: 'Libre Baskerville', serif;

// -----------------------------------------------
// Colors
// -----------------------------------------------
$white:       #FFF;
$dark-blue:   #1F2D42;
$blue:        #3BB0C9;
$light-blue:  #4FC1E9; 
$dark-gray:   #3B3D40;
$body-gray:   #656B6F;
$light-gray:  #BABABA;
$dark-yellow: #FFC338;
$trans-black: rgba(59, 61, 64, 0.5);


footer
, #homepage > .header__background
{ background-color: $dark-blue; }

@mixin background {
  position: relative;
  z-index: 0;
}

$homepage-breakpoint: 1250px;
$hover-transition: 0.3s cubic-bezier(0.82, 0.03, 0.77, 0.7);
