// -----------------------------------------------
// // // Variables
// -----------------------------------------------

// -----------------------------------------------
// Font Stacks
// -----------------------------------------------
$brandon-stack: "brandon-grotesque", sans-serif;
$pt-stack: "PT sans", sans-serif;

// -----------------------------------------------
// Colors
// -----------------------------------------------
$turquoise:   #4FC1E9;
$blue:        #0065B0;
$dark-blue:   #1F2D42;
$red:         #E21F26;

$white:       #FFF;

$light-gray:  #BABABA;
$gray:        #929292;
$gray2:       #818181;
$dark-gray:   #494949;
$medium-gray: lighten($dark-gray, 10%);
$trans-black: rgba(59, 61, 64, 0.5);
$black:       #222;


// color classes
.white, .white > p   { color: $white; }
.light-gray      { color: $light-gray; }
.gray      { color: $gray; }
.black     { color: $black; }
.turquoise { color: $turquoise; }

@mixin background {
  position: relative;
  z-index: 0;
}

$hover-transition: 0.3s cubic-bezier(0.82, 0.03, 0.77, 0.7);

$desktop-breakpoint: 850px;
