<li class="small-6 medium-3 columns polaroid-min-height">
  <a href="#" title="{{ member.first_name }}" class="polaroids__link polaroids__link{{forloop.index}} mb-1">
    <style media="screen">
    .polaroids__img{{forloop.index}} {
      background-image: url({{ member.image }});
      background-position: top;
      background-size: cover;
    }

    .polaroids__link{{forloop.index}}:hover > .polaroids__img{{forloop.index}} {
      background-image: url({{ member.crazy_image }});
    }
    </style>
    <div class="polaroids__img polaroids__img{{forloop.index}}" alt="{{ member.first_name }}"></div>
    <div class="polaroid-background">
      <img src="/assets/img/polaroid-background.jpg" />
    </div>
  </a>
  <div class="ta-c pts-r tt-u fs-12 mb-2">
    <span class="d-b">{{ member.company }}</span>
    <a href="{{ member.link }}">{{ member.link_text }}</a>
  </div>
</li>
