<div class="row mb-80" data-equalizer data-equalize-on="medium">
  <div class="medium-6 columns ta-c small-mb-1">
    <img src="{{ page.member_spotlight.image }}" alt="">
    <div class="text-box bgc-blk c-white">
      <div class="banner bgc-turquoise"><span>Member Spotlight</span></div>
      <h4 class="tt-c br-b fs-25">{{ page.member_spotlight.name }}</h4>
      <p class="c-white" data-equalizer-watch>{{ page.member_spotlight.blurb }}</p>
      <a target="_blank" href="{{ page.member_spotlight.link }}" class="mb-2 button secondary">Learn More</a>
    </div>
  </div>
  <div class="medium-6 columns ta-c">
    <img src="{{ page.project_spotlight.image }}" alt="">
    <div class="text-box bgc-blk c-white">
      <div class="banner bgc-red"><span>Project Spotlight</span></div>
      <h4 class="tt-c br-b fs-25">{{ page.project_spotlight.title }}</h4>
      <p class="c-white" data-equalizer-watch>{{ page.project_spotlight.blurb }}</p>
      <a target="_blank" href="{{ page.project_spotlight.link }}" class="mb-2 button secondary">Learn More</a>
    </div>
  </div>
</div>