<div class="hero" style="background: linear-gradient(rgba(20,20,20, 0.7), rgba(20,20,20, 0.7)), url({{ page.hero_section.hero_image }}) center center no-repeat; background-size: cover;">
  <div class="columns row">
    <h1 class="tt-u br-bl hero__header">Come<div class="red-rectangle"></div>
      <br>
      Work
      <br>
      With Us
    </h1>
    <p class="hero__header-blurb medium-7 large-5 fs-16 mt-1 mb-2">
      {{ page.hero_section.header_blurb }}
    </p>
    <a href="{{ page.hero_section.left_button_link }}" class="button secondary">{{ page.hero_section.left_button_text }}</a>
    <a target="_blank" href="{{ page.hero_section.right_button_link }}" class="button secondary">{{ page.hero_section.right_button_text }}</a>
    <div class="mt-1">
      {% include index/special-offer.html %}
    </div>
  </div>
</div>