<div class="map row column-pl-28 m-dflex">

  <div class="medium-6 columns as-c small-only-mb-40">
    <p class="br-b ls-2 fs-20 tt-u">
      {{ page.map_section.header }}
    </p>
    <p>
      {{ page.map_section.body }}
    </p>
    <a target="_blank" href="{{ page.map_section.link }}">{{ page.map_section.link_text }}</a>
  </div>

  <div class="medium-6 columns">
    <a target="_blank" href="{{ page.map_section.map_link }}">
      <img src="{{ page.map_section.map_image }}" alt="">
      {{ page.map_section.map_link_text }}
    </a>
  </div>

</div>
