<div class="row text-center large-text-left">
  <div class="columns">
    <h6 class="br-b fs-20 ls-2">{{ site.pricing_section.header }}</h6>
    <p class="fs-18 light-gray">{{ site.pricing_section.blurb }}</p>
  </div>

  {% assign i = 0 %}
  {% for plan in page.pricing_section.plans %}
    {% assign i = i | plus: 1 %}
     {% if forloop.first == true %}
      <div class="small-6 large-3 columns">
        <img class="pricing__pic" src="/assets/img/icons/pic-{{i}}.svg">
        <p class="br-b fs-18 white mt-1 mb-05"></p>
        <a href="https://calendly.com/societyofwork#" class="button pricing__booklink" target="_blank">BOOK NOW</a>
        <div class="br-b fs-18 white mt-1 mb-05 pricing__firstplan">{{ plan.name }}</div>
        <p class="white mb-0 mb--6">Starts from</p>
        <p class="br-b fs-26 white mb-05 pricing__price">${{ plan.price }} / mo</p>
        <p class="white pricing__text">{{ plan.additional_info }}</p>
      </div>
     {% else %}
      <div class="small-6 large-3 columns">
        <img class="pricing__pic" src="/assets/img/icons/pic-{{i}}.svg">
        <p class="br-b fs-18 white mt-1 mb-05">{{ plan.name }}</p>
        <p class="white mb-0 mb--6">Starts from</p>
        <p class="br-b fs-26 white mb-05 pricing__price">${{ plan.price }} / mo</p>
        <p class="white pricing__text">{{ plan.additional_info }}</p>
      </div>
     {% endif %}
  {% endfor %}

  <div class="text-center columns">
    <a href="/pricing/" class="button secondary mt-2">View Pricing Details</a>
  </div>

</div>
