<div class="reviews row mb-75">
  {% for review in page.review_section.reviews %}
  <div class="review large-4 columns mb-2">
    <div class="pb-05">
      <img src="/assets/img/icons/review-stars.svg" class="pb-4px">
      <span> - 5-star review</span>
    </div>
    <p class="br-i fs-20 lh-1-4">{{ review.testimonial }}</p>
    <span class="pts-b">- {{ review.name }}</span>
  </div>
  {% endfor %}

  <div class="text-center">
    <a class="pts-b" target="_blank" href="{{ page.review_section.facebook_link }}">{{ page.review_section.facebook_link_txt }}</a>
  </div>

</div>
