ul.polaroids > li {
  display: inline;
}

ul.polaroids a:after {
  content: attr(title);
}

.polaroids {

  margin-left: 0;

  &__img {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    $square: 125;
    height: $square * 1px;
    width: $square * 1px;

    @include breakpoint(411px) {
      height: $square + 25px;
      width: $square + 25px;
    }

    @include breakpoint(480px) {
      height: $square + 50px;
      width: $square + 50px;
    }

    @include breakpoint(530px) {
      height: $square + 90px;
      width: $square + 90px;
    }

    @include breakpoint(610px) {
      height: $square + 130px;
      width: $square + 130px;
    }

    @include breakpoint(667px) {
      height: $square * 1px;
      width: $square * 1px;
    }

    @include breakpoint(685px) {
      height: $square + 20px;
      width: $square + 20px;
    }

    @include breakpoint(919px) {
      height: $square + 50px;
      width: $square + 50px;
    }

    @include breakpoint(1024px) {
      height: $square + 75px;
      width: $square + 75px;
    }

    @include breakpoint(1135px) {
      height: $square + 100px;
      width: $square + 100px;
    }

    @include breakpoint(1233px) {
      height: $square + 135px;
      width: $square + 135px;
    }
  }
}

ul.polaroids a {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  color: #333;
  display: inline;
  float: left;
  font-family: "Marker Felt", sans-serif;
  font-size: 18px;
  padding: 10px 10px 30px;
  text-align: center;
  text-decoration: none;
  width: auto;

  @include breakpoint(medium) {
    transition: transform .15s linear;
  }

  /* Scale the images on hover, add transitions for smoothing things out, and ensure the hover appears on top */
  @include polaroid-zoom;
}

.inner-shadow {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.6);
  }
}

