.subsection {

  &__content {
    background-color: $white;
    padding: 37px 34px 77px;

  }
}

@include breakpoint($homepage-breakpoint) {
  .subsections {

    .height-one {
      min-height: 568px;
    }

    .height-two {
      min-height: 677px;
    }

    .subsection {
      @include grid-row;
      position: relative;

      &__content {
        width: 458px;
        position: absolute;
        bottom: 0;

        &_button {
          position: absolute;
          bottom: -16px;
          right: 0;
        }

        &--two-thirds-over {
          right: 25%;
        }

        &--one-third-over {
          left: 15%;
        }

        &--far-right {
          right: 0;
        }

      }
    }
  }
}

@include breakpoint($homepage-breakpoint) {
  .shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 50%);
  }
}
