.homepage-tweets {
  
  padding-top: 1rem;
  padding-bottom: 3rem;
  
  &__ {
    
    &title {
      @include grid-col-row;
      text-align: center;
      
      @include breakpoint(large) { 
        @include grid-col(2); 
        text-align: left;
      }
    }
  }
}

.tweet {
  
  @include breakpoint(small) { 
    @include grid-col-row; 
    float: left !important;
    padding-bottom: 2.4rem;
    
    &:last-child {
      padding-bottom: 1rem;
    }
  }
  
  @include breakpoint(medium) { 
    @include grid-col(7); 
    margin-bottom: 1rem;
    
    &:last-child {
      float: left !important;
    }
    
  }
  
  @include breakpoint(large) { @include grid-col(3); }
  
  &__ {
    
    &body {
      text-align: center;
      
      p {
        font-size: 14px;
      }
      
      @include breakpoint(medium) {
        text-align: left;
      }
    }
    
    &author_ {
      
      &img {
        display: inline-block;
        border-radius: 50px;
        width: 50px;
      }
      
      &img-box {
        width: 50px;
        margin-left: auto;
        margin-right: auto;
        
        @include breakpoint(medium) {
          margin-right: 14px;
          float: left;
        }
      }
      
      &name,
      &handle {
        display: block;
        font-size: 12px;
        text-align: center;
        
        @include breakpoint(medium) {
          text-align: left;
        }
      }
    }
  }
}