---
layout: about
---

<div class="entries">
  <div class="row medium-up-1 large-up-2" data-equalizer data-equalize-by-row="row">
    
    {% for post in site.posts %}
    
    <div class="entry column column-block" data-equalizer-watch>
      <a href="{{ post.url }}">
        <img class="entry__img" src="{{ post.featured_image }}">
        <h4 class="entry__title">{{ post.title }}</h4>
        <p>{{ post.content | markdownify | strip_html | truncatewords:35 }}</p>
        <a class="entry__read-more" href="{{ post.url }}">Read More</a>
      </a>
    </div>
    
    {% endfor %}
    
  </div>
</div>
