---
layout: default
---

{% include header.html header_img="home-header-background.svg" %}

<div class="contact-background">
<main role="main" class="main" aria-label="Content">
  
  {% include contact-info.html %}
  
  <form name="contact-page-form" action="/contact-form-thank-you" class="contact-form" netlify>
    <label>
      Name
      <input type="text" name="name" required placeholder="Pat Smith" class="contact-form__name">
    </label>
    <label>
      Email
      <input type="email" name="email" required placeholder="patsmith@gmail.com" class="contact-form__email">
    </label>
    <label>
      Phone Number
      <input type="tel" name="phone" placeholder="555-555-5555" class="contact-form__phone">
    </label>
    <label>
      Message
      <textarea type="text" name="message" required placeholder="Just saying hi!"></textarea>
    </label>
    <button class="button contact-form__submit">Send Message</button>
  </form>
  
</main>

</div>