<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

{% include head.html %}

<body>
  <div class="container" id="container">
    
    <!-- This is the menu button for 1114px down. -->
    <button id="mobile-menu-button" class="hamburger-menu-button" type="button">Menu</button>
    
    <div id="barba-wrapper">
      
      <!-- Checks to see which page we are on and output a data attributes if we are. -->
      <!-- Barba needs this for firing page specific JS -->
      <div class="barba-container"
      {% if page.url == "/" %} 
      data-namespace="homepage" 
      {% elsif page.url == "/guide/" %}
      data-namespace="guide"  
      {% elsif page.url == "/community/" %}
      data-namespace="community"
      {% endif %}
      >
      
        
        <!-- This is the container that the mobile menu is pushing aside. -->
        {{ content }}
        
        {% include footer.html %}
      </div>
    </div>
  </div> 
  
  {% include overlay-menu.html %}  
  
  <script src="/assets/js/main.js" type="text/javascript"></script>
</body>

</html>
