---
layout: default
---

<div class="guide">
  
  {% include header.html header_img="the-guide-header-background.svg" %}
  
  <div class="gray-background">
    
    {% include overlap-header-image.html %}
    
    <div class="filters">
      
      <h4>Area Directory</h4>
      <form class="filter filter--category">
        {% for category in site.directory_categories %}
          <input type="checkbox" id="{{ category.title }}" />
          <label class="filter__item" for="{{ category.title }}">{{ category.title }}</label>
          <span>|</span>
        {% endfor %}
      </form>
      
      <form class="filter filter--filter">
        {% for filter in site.directory_filters %}
          <input type="checkbox" class="filter__item" id="{{ filter.title }}"/>
          <label for="{{ filter.title }}">{{ filter.title }}</label>
        {% endfor %}
      </form>
    </div>
    
  </div>
  
  <main role="main" class="main" aria-label="Content">
    <ul class="dir-cards medium-up-2 large-up-3">
      
      {% for member in site.data.members %}
        <li class="dir-cards__card column column-block">
          <div class="dir-cards__card_title">
            {{ member["Organization/Resource"] }}
          </div>
          <p class="dir-cards__card_body">
            {{ member["Short Description"] }}
          </p>
          
          {% if member["Location"] %}
            <address class="dir-cards__card_address">
              <img src="/assets/img/icons/map-marker.svg">
              {{ member["Location"] }}
            </address>
          {% endif %}
          
          {% if member["Website"] %}
          <a href="{{ member["Website"] }}" class="dir-cards__card_link">
            <img src="/assets/img/icons/www-globe.svg">
            {{ member["Website"] }}
          </a>
          {% endif %}
          
        </li>
      {% endfor %}
      
    </ul>
  </main>
  
</div>