---
layout: default
---

{% assign author = site.blog_authors | where: "title", page["Blog Author"] | first %}

<div class="above-post-wrapper">
  <div class="above-post">
    <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
  </div>
</div>
<article class="post">  
  
  <header class="post__header">
    <h2 class="post__title">{{ page.title }}</h2>
    
    {% if author %}
    <div class="post__author">
      <img class="post__author-img" src="{{ author.image }}" alt="{{ author.title }}">
      <span class="post__author-name">{{ author.title }}</span>
    </div>
    {% endif %}
    
  </header>
  
  <div class="post__content">
    
    {{ content }}
    
    <span class="share">share  
      <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ site.baseurl }}{{ page.url }}">
        <i class="fa fa-facebook"></i>
      </a> 
      <a target="_blank" href="http://twitter.com/share?text=An%20Awesome%20Link&url={{ site.baseurl }}{{ page.url }}">
        <i class="fa fa-twitter"></i>
      </a>
    </span>
    
  </div>
  
  
</article>
