---
layout: about
---
<div class="team-page">
  <h3 class="team-page__top-title">The Enterprise Center Staff</h3>
  <div class="name-title">
    {% include staff-org.html org=page.enterprise_center %}
  </div>
  
  <hr>

  <h6 class="blue-text">The Edney Innovation Center</h6>
  <div class="name-title">
    {% include staff-org.html org=page.the_edney %}
  </div>

  <hr>

  <h6 class="blue-text">Tech Goes Home</h6>
  <div class="name-title">
    {% include staff-org.html org=page.tech_goes_home %}
  </div>

  <hr>

  <h6 class="blue-text">Consultants</h6>
  <div class="name-title">
    {% include staff-org.html org=page.consultants %}
  </div>

  <hr>

  <h3 class="board-ex-officio">Board of Directors</h3>
  <ul>
    <li class="board-ex-officio__item">
      <span class="just-blue board-ex-officio__name">Chairman:</span> 
      <span class="board-ex-officio__name">{{page.board_chairman.name}}, </span>
      <em>{{page.board_chairman.org}}</em>
    </li>
    {% for p in page.board %}
      <li class="board-ex-officio__item"><span class="board-ex-officio__name">{{p.name}},</span> <em>{{p.org}}</em></li>
    {% endfor %}
  </ul>

  <hr>

  <h6 class="blue-text no-bottom-margin">Ex Officio Members:</h6>
  <ul>
    {% for p in page.ex_officio %}
      <li class="board-ex-officio__item"><span class="board-ex-officio__name">{{p.name}},</span> <em>{{p.org}}</em></li>
    {% endfor %}
  </ul>
</div>
